EXPO_PUBLIC_SHOPPING_YANDEX_PROXY=http://10.0.2.2:5000/shopping/yandex
EXPO_PUBLIC_SHOPPING_AFFILIATE_PROXY=http://10.0.2.2:5000/shopping/affiliate
EXPO_PUBLIC_SHOPPING_AWIN_PROXY=
EXPO_PUBLIC_SHOPPING_RAKUTEN_PROXY=
EXPO_PUBLIC_SHOPPING_AMAZON_PROXY=
EXPO_PUBLIC_SHOPPING_EBAY_PROXY=
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:5000
EXPO_PUBLIC_GOOGLE_AUTH_URL=
EXPO_PUBLIC_APP_INSTALL_URL=https://womio.net/download

EXPO_PUBLIC_WEBSITE_URL=https://womio.net
EXPO_PUBLIC_GOOGLE_PLAY_URL=https://play.google.com/store/apps/details?id=net.womio.app
EXPO_PUBLIC_APP_STORE_URL=https://apps.apple.com/app/id0000000000
EXPO_PUBLIC_TESTFLIGHT_URL=
EXPO_PUBLIC_ANDROID_APK_URL=https://womio.net/downloads/womio-latest.apk
